<!doctype html>
<html lang="en">

<head>
    <title>My WebRTC</title>
</head>

<body>
    <video autoplay="true" muted="muted"></video>
    <!-- script for getting user media, video and mic-->
    <script>
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
        var constraints = {
            audio: true,
            video: true
        };
        var videoArea = document.querySelector("video");
        navigator.getUserMedia(constraints, onSuccess, onError);

        function onSuccess(stream) {
            console.log("Success! We have a stream");
            videoArea.srcObject = stream;
            videoArea.play();
        }

        function onError(error) {
            console.log("Error with GetUserMedia: ", error)
        }
    </script>
</body>

</html>